<div class="main_area">

    <a [routerLink]="['../institute']">
        <div id="thumbnail" class="color1">
            <mat-icon>business</mat-icon><br>
            <span><b>31</b></span><br><br>
            <span>Term  & Condition</span>
        </div>
    </a>

    <a [routerLink]="['../dashboard']">
        <div id="thumbnail" class="color9">
            <mat-icon>settings</mat-icon><br>
            <span><b>25</b></span><br><br>
            <span>Settings</span>
        </div>
    </a>

</div>